/*Aqui ira CSS para componentes reutilizables de la pagina. Botones , parrafos , encabezados , Cards otros*/




/*H1 deberia ir en todas las paginas*/
.h1-general {
    background-color: #F5E6D3;
    text-align: center;
    width: 100%;
    padding: 1em;
    color: #A0522D;
}





/*input de busqueda*/
.search-input {
    width: 60%;
    padding: 1em;
    border-radius: 22px;
    border: 2px solid #A0522D;

}

/*ESTILO de las cards de productos.html*/
.product-card__link {
    text-decoration: none;
    color: black;
}

.product-card {
    background-color: #F5E6D3;
    width: 100%;
    max-width: 240px;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.10s;

}

/*Efecto hover*/
.product-card:hover {
    transform: translateY(-7px);
}

/*imagen*/
.product-card__image {
    width: 100%;
    height: auto;
}