/*Aqui ira css en general para todas las paginas flexbox , box modeling */


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Playfair+Display:wght@400;700&display=swap");

:root {
  /* Colores de la paleta */
  --siena-tostado: #a0522d;
  --verde-salvia: #87a96b;
  --alabastro-calido: #f5e6d3;
  --vara-de-oro: #d4a437;
  --rosa-polvoriento: #c47a6d;

  /* Tipografías */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Playfair Display", serif;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary)
}

/*Header y nav*/
nav{
    display:flex ;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    background-color: var(--verde-salvia);
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 20px;
    
}
.logo{
    width: 140px;
    height: auto;

}

a{
 text-decoration: none;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    background-color: var(--alabastro-calido);
    margin: 50px;
    
}

/*form*/


.content-form{
    background-color: #87a96b;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
}
.content-form h1{
    margin: 50px;
    color: white;
    user-select: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

input {
  width: 500px;
  max-width: 100%;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
  
  
  
  
}

#mensaje{
    border-style: none;
    width: 500px;
    padding: 10px;
    resize: none;
}

#btn-form {
    background-color: var(--siena-tostado);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}


/*Pseudoelementos*/

#btn-form:hover{
    transform: scale(1.1);
}
